@model IEnumerable<WM_TestProject.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Category
        </th>
        <th>
            Manufacturer
        </th>
        <th>
            Supplier
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.ProductName
        </td>
        <td>
            @item.ProductDescription
        </td>
        <td>
            @item.Category
        </td>
        <td>
            @item.Manufacturer
        </td>
        <td>
            @item.Supplier
        </td>
        <td>
            @item.Price.ToString("0.00 €")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId })
        </td>
    </tr>
}

</table>
